<div id="info">
    <div class="card border-0 rounded-0 mb-4">
        <div id="programsHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#programs"
                        aria-expanded="true" aria-controls="programs">
                    Реализуемые образовательные программы
                </button>
            </h5>
        </div>

        <div id="programs" class="collapse" aria-labelledby="programsHeading" data-parent="#info">
            <div class="card-body">
                <p>
                    с указанием учебных предметов, курсов, дисциплин (модулей), практики, предусмотренных
                    соответствующей образовательной программой (за исключением образовательных программ дошкольного
                    образования), представляемую в виде образовательной программы в форме электронного документа или в
                    виде активных ссылок, непосредственный переход по которым позволяет получить доступ к страницам
                    Сайта, содержащим отдельные компоненты образовательной программы с указанием для каждой из них
                    следующей информации:
                    об уровне общего или профессионального образования, о наименовании образовательной программы (для
                    общеобразовательных программ);
                    Уровни общего образования:1) дошкольное образование; 2) начальное общее образование;3) основное
                    общее образование;4) среднее общее образование.
                    о форме обучения (за исключением образовательных программ дошкольного образования); очная,
                    очно-заочная или заочная форма
                    о нормативном сроке обучения;

                </p>
            </div>
        </div>
    </div>

    <div class="card border-0 rounded-0 mb-4">
        <div id="amountHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#amount"
                        aria-expanded="true" aria-controls="amount">
                    Численность обучающихся
                </button>
            </h5>
        </div>

        <div id="amount" class="collapse" aria-labelledby="amountHeading" data-parent="#info">
            <div class="card-body">
                <p>по реализуемым образовательным программам за счет бюджетных ассигнований федерального бюджета,
                    бюджетов субъектов Российской Федерации, местных бюджетов и по договорам об образовании за счет
                    средств физических и (или) юридических лиц (в форме электронного документа)
                </p>
            </div>
        </div>
    </div>

    <div class="card border-0 rounded-0 mb-4">
        <div id="amountForeignHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#amountForeign"
                        aria-expanded="true" aria-controls="amountForeign">
                    Численность обучающихся, являющихся иностранными гражданами
                </button>
            </h5>
        </div>

        <div id="amountForeign" class="collapse" aria-labelledby="amountForeignHeading" data-parent="#info">
            <div class="card-body">
                <p>по каждой
                    общеобразовательной программе

                </p>
            </div>
        </div>
    </div>

    <div class="card border-0 rounded-0 mb-4">
        <div id="langHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#lang"
                        aria-expanded="true" aria-controls="lang">
                    Языки образования
                </button>
            </h5>
        </div>

        <div id="lang" class="collapse" aria-labelledby="langHeading" data-parent="#info">
            <div class="card-body">
                pdf
            </div>
        </div>
    </div>
</div>
