<div id="info">
    <!--    Сведения об учебных кабинетах-->
    <div class="card border-0 rounded-0 mb-4">
        <div id="cabinetsHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#cabinets"
                        aria-expanded="true" aria-controls="cabinets">
                    Сведения об учебных кабинетах
                </button>
            </h5>
        </div>

        <div id="cabinets" class="collapse" aria-labelledby="cabinetsHeading" data-parent="#info">
            <div class="card-body">
                <p>
                    В {{ fullName }} оборудован кабинет педагога-психолога, музыкальный и физкультурный залы, групповая
                    ячейка с учетом доступности для детей с ОВЗ, инвалидов. Для работы с детьми с особыми
                    образовательными потребностями кабинеты педагога-психолога и учителей-логопедов оборудованы:
                    техническими средствами обучения: мультимедийный интерактивный развивающий логопедический стол;
                    интерактивная песочница – умный стол; интерактивный пол; интерактивный скалодром;
                    программно-аппаратный комплекс;
                    коррекционным оборудованием: массажные мячи, набивные мячи; массажные дорожки, детские тренажеры;
                    мягкие спортивные модули, мягкие маты, батуты; релаксационное и сенсорное оборудование;
                    дидактические наборы для осуществления коррекционной работы в соответствии с адаптированной основной
                    образовательной программой.
                </p>
            </div>
        </div>
    </div>

    <!--    Сведения об объектах для проведения практических занятий-->
    <div class="card border-0 rounded-0 mb-4">
        <div id="practiceHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#practice"
                        aria-expanded="true" aria-controls="practice">
                    Сведения об объектах для проведения практических занятий
                </button>
            </h5>
        </div>

        <div id="practice" class="collapse" aria-labelledby="practiceHeading" data-parent="#info">
            <div class="card-body">
                <p>Кабинет — лаборатория по биологии, оснащенная оборудованием для проведения лабораторных работ — 2</p>
                <p>Кабинет — лаборатория по биологии, оснащенная оборудованием для проведения лабораторных работ — 2</p>
            </div>
        </div>
    </div>

    <!--    Сведения о библиотеке-->
    <div class="card border-0 rounded-0 mb-4">
        <div id="libraryHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#library"
                        aria-expanded="true" aria-controls="library">
                    Сведения о библиотеке
                </button>
            </h5>
        </div>

        <div id="library" class="collapse" aria-labelledby="libraryHeading" data-parent="#info">
            <div class="card-body">
                <p>
                    Библиотека – 1 </p>
                <p>
                    Читальный зал на 100 мест
                </p>
                <p>
                    Фонд библиотеки:
                    20000 экз., в том числе учебный фонд — 10000 экз.,
                </p>
            </div>
        </div>
    </div>

    <!--    Сведения об объектах спорта-->
    <div class="card border-0 rounded-0 mb-4">
        <div id="sportsHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#sports"
                        aria-expanded="true" aria-controls="library">
                    Сведения об объектах спорта
                </button>
            </h5>
        </div>

        <div id="sports" class="collapse" aria-labelledby="sportsHeading" data-parent="#info">
            <div class="card-body">
                <p>
                    Спорзал 30м х 40м
                </p>
                <p>
                    Кабинет здоровья – площадь 100 кв.м
                </p>
                <p>
                    Раздевалки – 4
                </p>
            </div>
        </div>
    </div>

    <!--    Сведения о средствах обучения и воспитания-->
    <div class="card border-0 rounded-0 mb-4">
        <div id="educationHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#education"
                        aria-expanded="true" aria-controls="education">
                    Сведения о средствах обучения и воспитания
                </button>
            </h5>
        </div>

        <div id="education" class="collapse" aria-labelledby="educationHeading" data-parent="#info">
            <div class="card-body">
                <p>{{ fullName }} обеспечено средствами обучения и воспитания в соответствии с ФГОС НОО, ФГОС ООО, ФГОС
                    СОО и санитарными требованиями.</p>
            </div>
        </div>
    </div>

    <!--    Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям-->
    <div class="card border-0 rounded-0 mb-4">
        <div id="netHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#net"
                        aria-expanded="true" aria-controls="net">
                    Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям
                </button>
            </h5>
        </div>

        <div id="net" class="collapse" aria-labelledby="netHeading" data-parent="#info">
            <div class="card-body">
                <p>Доступ к сети Интернет осуществляется по выделенному каналу со скоростью 100 Мбит/с.
                </p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th rowspan="2">Здание образовательного учреждения</th>
                        <th rowspan="2">Технология подключения к сети Интернет</th>
                        <th rowspan="2">Скорость передачи</th>
                        <th colspan="3" rowspan="1">Локальная сеть</th>
                    </tr>
                    <tr>
                        <th>Кабельная сеть</th>
                        <th>Беспроводная сеть</th>
                        <th>Сервер</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>адрес</td>
                        <td>Волоконно-оптическая</td>
                        <td>до 100 Мбит/с</td>
                        <td>+</td>
                        <td>+</td>
                        <td>+</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--    Сведения об электронных образовательных ресурсах, к которым обеспечивается доступ обучающихся-->
    <div class="card border-0 rounded-0 mb-4">
        <div id="resourcesHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#resources"
                        aria-expanded="true" aria-controls="resources">
                    Сведения об электронных образовательных ресурсах, к которым обеспечивается доступ обучающихся
                </button>
            </h5>
        </div>

        <div id="resources" class="collapse" aria-labelledby="resourcesHeading" data-parent="#info">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>

    <!--    Сведения о количестве жилых помещений в общежитии, интернате, формировании платы за проживание в общежитии-->
    <div class="card border-0 rounded-0 mb-4">
        <div id="behaviourHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#behaviour"
                        aria-expanded="true" aria-controls="behaviour">
                    Сведения о количестве жилых помещений в общежитии, интернате, формировании платы за проживание в
                    общежитии
                </button>
            </h5>
        </div>

        <div id="behaviour" class="collapse" aria-labelledby="behaviourHeading" data-parent="#info">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>

    <br>

    <div class="card border-0 rounded-0 mb-4">
        <div id="accessHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#access"
                        aria-expanded="true" aria-controls="access">
                    Сведения об обеспечении доступа в здания образовательной организации, в том числе в общежитие,
                    интернат, приспособленных для использования инвалидами и лицами с ограниченными возможностями
                    здоровья
                </button>
            </h5>
        </div>

        <div id="access" class="collapse" aria-labelledby="accessHeading" data-parent="#info">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>

    <!--    Сведения о наличии специальных технических средств обучения коллективного и индивидуального пользования  инвалидов и лиц с ограниченными возможностями здоровья-->
    <div class="card border-0 rounded-0 mb-4">
        <div id="techHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#tech"
                        aria-expanded="true" aria-controls="tech">
                    Сведения о наличии специальных технических средств обучения коллективного и индивидуального
                    пользования инвалидов и лиц с ограниченными возможностями здоровья
                </button>
            </h5>
        </div>

        <div id="tech" class="collapse" aria-labelledby="techHeading" data-parent="#info">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>

</div>
