==
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
==
<!-- Header Start -->
<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ 'home'|page }}">
            <h2 class="text-white text-capitalize">{{ orgName }} <span class="text-color">{{ orgNumber }}</span></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid"
                aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-view-list"></span>
        </button>
        <div class="collapse text-center navbar-collapse" id="navbarsid">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ 'home'|page }}">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Сведения об образовательной организации</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ 'main_information'|page }}">Основные сведения</a></li>
                        <li><a class="dropdown-item" href="{{ 'structure'|page }}">Структура и органы управления образовательной  организацией</a></li>
                        <li><a class="dropdown-item" href="{{ 'documents'|page }}">Документы</a></li>
                        <li><a class="dropdown-item" href="{{ 'education'|page }}">Образование</a></li>
                        <li><a class="dropdown-item" href="{{ 'management'|page }}">Руководство</a></li>
                        <li><a class="dropdown-item" href="{{ 'staff'|page }}">Педагогический состав</a></li>
                        <li><a class="dropdown-item" href="{{ 'environment'|page }}">Материально-техническое обеспечение и
                            оснащенность образовательного процесса. Доступная  среда</a></li>
                        <li><a class="dropdown-item" href="{{ 'paid_educational_services'|page }}">Платные образовательные услуги</a></li>
                        <li><a class="dropdown-item" href="{{ 'activities'|page }}">Финансово-хозяйственная деятельность</a></li>
                        <li><a class="dropdown-item" href="{{ 'vacancies'|page }}">Вакантные места для приема (перевода) обучающихся</a></li>
                        <li><a class="dropdown-item" href="{{ 'scholarships'|page }}">Стипендии и меры поддержки обучающихся</a></li>
                        <li><a class="dropdown-item" href="{{ 'cooperation'|page }}">Международное сотрудничество</a></li>
                        <li><a class="dropdown-item" href="{{ 'feeding'|page }}">Организация питания в образовательной организации</a></li>
                        <li><a class="dropdown-item" href="{{ 'standarts'|page }}">Образовательные стандарты и требования</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ 'plugins'|page }}">Контакты</a></li>
            </ul>
            <div class="my-md-0 ml-lg-4 mt-4 mt-lg-0 ml-auto text-lg-right mb-3 mb-lg-0">
                <a href="tel:+23-345-67890">
                    <h3 class="text-color mb-0"><i class="ti-mobile mr-2"></i>{{ phoneNumber }}</h3>
                </a>
            </div>
        </div>
    </div>
</nav>


<!-- Header Close -->
